body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    font-family: sans-serif;
}

#calculator {
    box-shadow: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
    background-color: #5f8fa0;
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    border-radius: 40px;
    gap: 20px;
    border: 4px solid black;
}

#screen {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
    padding: 25px 25px 15px 25px;
    background-color: azure;
    width: 450px;
    height: 150px;
    border-radius: 15px;
}

#buttonContainer {
    width: 450px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex: 1 0 400px;
    grid-gap: 10px;
}

button {
    box-shadow: 3px 3px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: 450;
    background-color: azure;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#delete {
    grid-column-start: 3;
    grid-column-end: 5;
}

#operation {
    height:30px;
    font-size: large;
    color: #1f1e1e;
}

#number {
    height: 75px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: center;
}

.hovered {
    background-color: #dcdbdb;
    box-shadow: 2px 2px;
}

.clicked {
    box-shadow: 0 0;
    background-color: #bbb7b7;
}